@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Define color variables */
:root {
    --primary: #053742;
    --secondary: #39A2DB;
    --tertiary: #A2DBFA;
    --dark: #222831;
    --light: #E8F0F2;
}

/* Styles entire page */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark);
    background-color: var(--light);
    line-height: 1.5;
}

/* Begin section for navigation bar styling */
nav li, header a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    background-color: var(--primary);
    color: var(--light);
    text-decoration: none;
}

header {
    background: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
    background-color: var(--primary);
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary);
}

#name {
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s ease 0s;
}

#name:hover {
    color: #FFC947;
}
/* End of navigation bar styling */

/* Start of profile image styling */
.profile {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    background-color: var(--light);
    background-image: url(../images/background-nyc.jpg);
    background-position: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5%;
    border: 5px solid var(--dark);
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 0.3s ease 0s;
}

.center-image:hover {
    opacity: 1;
    filter: grayscale(0%);
}
/* End of profile image styling */

/* Beginning of main page with primary content styling */

main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-section-left {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section-left > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--secondary);
    color: var(--primary);
    font-size: 4vw;
    line-height: 1.1;
    font-family: 'Roboto Mono', monospace;
}
  
.page-section-left > div {
    flex: 0 0 77%;
}
  
.page-section-left p {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-section-right {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section-right > h2 {
    flex: 0 0 20%;
    text-align: left;
    padding-left: 15px;
    border-left: 4px solid var(--secondary);
    color: var(--primary);
    font-size: 4vw;
    line-height: 1.1;
    font-family: 'Roboto Mono', monospace;
}
  
.page-section-right > div {
    flex: 0 0 77%;
}
  
.page-section-right p {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles the work section, utilizes some code ideas from example project */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    min-height: 150px;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0px 10px;
    margin: 0.5em;
    text-decoration: none;
    background-size: 150%;
    border: 5px solid var(--primary);
    filter: grayscale(80%);
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

.project div {
    background-color: var(--light);
    padding: 10px;
}

.project h3 {
    font-size: 1.5vw;
    font-family: 'Roboto Mono', monospace;
  }

.project:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.project:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.recipe-book {
    background-image: url("../images/recipe.png");
}

.investment-tracker {
    background-image: url("../images/investment.png");
}

.brewing-calculator {
    background-image: url("../images/brewing.png");
}

.workout-developer {
    background-image: url("../images/workout.png");
}

/* Contact section styling, also influenced by the example code */

#contact-me address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#contact-me a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    background-color: var(--light);
    color: var(--primary);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#contact-me a:hover {
    color: var(--secondary);
}

/* Media Query styling for interactive design */

@media screen and (max-width: 980px) {
    header {
        padding: 15px;
        justify-content: center;
        text-align: center;
    }

    .page-section-left > h2, 
    .page-section-left > div, 
    .page-section-right > h2, 
    .page-section-right > div {
        flex: inherit;
    }


    .page-section-left > h2,
    .page-section-right > h2 {
        border-right: none;
        border-left: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    #contact-me address {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}