@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Define color variables */
:root {
    --primary: #053742;
    --secondary: #39A2DB;
    --tertiary: #A2DBFA;
    --dark: #222831;
    --light: #E8F0F2;
}

/* Styles entire page */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--dark);
    background-color: var(--light);
    line-height: 1.5;
}

/* Begin section for navigation bar styling */
nav li, header a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    background-color: var(--primary);
    color: var(--light);
    text-decoration: none;
}

header {
    background: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
    background-color: var(--primary);
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary);
}

#name {
    font-size: 28px;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.3s ease 0s;
}

#name:hover {
    color: #FFC947;
}
/* End of navigation bar styling */

/* Start of profile image styling */
.profile {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    background-color: var(--light);
    background-image: url(../images/background-nyc.jpg);
    background-position: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5%;
    border: 5px solid var(--dark);
}

.center-image:hover {
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 0.3s ease 0s;
}
/* End of profile image styling */

/* Beginning of main page with primary content styling */

main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-section-left {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section-left > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--secondary);
    color: var(--primary);
    font-size: 4vw;
    line-height: 1.1;
    font-family: 'Roboto Mono', monospace;
}
  
.page-section-left > div {
    flex: 0 0 77%;
}
  
.page-section-left p {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.page-section-right {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section-right > h2 {
    flex: 0 0 20%;
    text-align: left;
    padding-left: 15px;
    border-left: 4px solid var(--secondary);
    color: var(--primary);
    font-size: 4vw;
    line-height: 1.1;
    font-family: 'Roboto Mono', monospace;
}
  
.page-section-right > div {
    flex: 0 0 77%;
}
  
.page-section-right p {
    font-size: 1.1em;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}